<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<ul>
  <li>
    <a routerLink="about">About</a>
  </li>
  <li>
    <a routerLink="contact">Contact</a>
  </li>
  <li>
    <a routerLink="users">Users</a>
  </li>
  <li>
    <a routerLink="files">Files</a>
  </li>
</ul>
<!-- <hr/>
<h4>Web Sockets</h4>
<p>
  <button (click)="ping()">Ping server using websockets</button>
</p>
<div>
  Response from server:
</div>
<pre>
{{ pongMessage$ | async | json }}
</pre> -->
